/* DICHIARAZIONE VARIABILI */
/***************************/
:root
{
/* VARIABILI DIMENSIONALI  */
    --nav_height:           10vh;
    --start_height: 90vh;
/* VARIABILI CROMATICHE    */
    --nav_color:            #2C3E50;
    --start_color:  #1ABC9C;
    --footer_color:         #3A546D;
}
/***************************/

.fa-solid.fa-star::before
{
    display: inline-block;
    vertical-align: text-bottom;
    width: 170%;
    height: 5px;
    background-color: black;
}

footer a.btn.rounded-circle
{
    width: 2.5rem;
    height: 2.5rem;
}

/**************************************/
/*           MEDIA QUERIES            */
/**************************************/
@media only screen and (max-width: 400px)
{
    #start h6
    {
        font-size: 0.6rem;
    }
}
