/* DICHIARAZIONE VARIABILI */
/***************************/
:root
{
/* VARIABILI CROMATICHE    */
    --nav_color:            #2C3E50;
    --title_section_color:  #1ABC9C;
    --footer_color:         #3A546D;
}
/***************************/
