/* DICHIARAZIONE VARIABILI */
/***************************/
:root
{
/* VARIABILI DIMENSIONALI  */
/* VARIABILI CROMATICHE    */
    --nav_color:            #2C3E50;
    --start_color:          #1ABC9C;
    --footer_color:         #3A546D;
}
/***************************/

#nav_box
{
    background-color: var(--nav_color);
}

#start, #about
{
    background-color: var(--start_color);
}

.star_logo::before
{
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateY(-13px);
    content: "";
    width: 30%;
    height: 5px;
    background-color: white;
}

.star_logo::after
{
    position: absolute;
    bottom: 0;
    right: 10%;
    transform: translateY(-13px);
    content: "";
    width: 30%;
    height: 5px;
    background-color: white;
}

#portfolio .star_logo::before,
#portfolio .star_logo::after,
#contact .star_logo::before,
#contact .star_logo::after
{
    background-color: black;
}

#contact input
{
    border: none;
}

footer a.btn.rounded-circle
{
    width: 2.5rem;
    height: 2.5rem;
}

/**************************************/
/*           MEDIA QUERIES            */
/**************************************/
@media only screen and (max-width: 400px)
{
    #start h6
    {
        font-size: 0.6rem;
    }
}
